<div fxFlex>
<mat-toolbar class="footer"> 
  <!--
  <form [formGroup]="subscribeForm">
    <div class="container">
      <mat-form-field class="footer-content">
        <label for="email" class="label">
          Email :
        </label>
        <input matInput formControlName="email" type="text" class="sub-email" onfocus="this.placeholder=''" required>
      </mat-form-field>

      <button type="submit" mat-button class="sub-button">Subscribe for Updates</button>  
    </div>    
  </form>-->
</mat-toolbar>
</div>
