<table>
  <tr>
    <td>
      Verification
    </td>
    <td class="active">
      Voting
    </td>
    <td>
      Review
    </td>
    <td>
      Confirm
    </td>
  </tr>
</table> 
<div fxLayout="row" fxLayoutAlign="space-around center" class="right">
<div fxLayout="column" fxLayoutAlign="space-between center" >
  <img src="/assets/images/partis.jpg" class="img">
</div>
  <button fxFlexOrder="5" mat-button class="lim" [routerLink]="['/pickVote', user.cnie]"><span class="fa fa-arrow-right fa-lg" ></span></button>
</div>


