<div class="marg">
<div class="title">
  <h1>
    Welcome to a new way to vote.
  </h1>
</div>
<div class="subtitle">
  <h2>
    Register and vote in your local elections online.
  </h2>
</div>
<table class="options">
  <tr>
    <td>
      <img src="/assets/images/Lock.png" class="icon">
    </td>
    <td>
      <img src="/assets/images/thumbs.png" class="icon">
    </td>
    <td>
      <img src="/assets/images/msghint.png" class="icon">
    </td>
  </tr>
  <tr class="options">
    <td>
      REGISTER
    </td>
    <td>
      VOTE
    </td>
    <td>
      GET INFORMED
    </td>
  </tr>
  <tr class="options-description">
    <td >
      Register safely and securely using the latest encryption technology
    </td>
    <td>
      Cast your ballot on election day from the privacy of your own home
    </td>
    <td>
      Find information on all the candidates and measures for each election
    </td>
  </tr>
</table>
</div>
